<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4">
    <!-- Inventario -->
    <a routerLink="inventario" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.143 4H4.857A.857.857 0 0 0 4 4.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 10 9.143V4.857A.857.857 0 0 0 9.143 4Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286A.857.857 0 0 0 20 9.143V4.857A.857.857 0 0 0 19.143 4Zm-10 10H4.857a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286A.857.857 0 0 0 9.143 14Zm10 0h-4.286a.857.857 0 0 0-.857.857v4.286c0 .473.384.857.857.857h4.286a.857.857 0 0 0 .857-.857v-4.286a.857.857 0 0 0-.857-.857Z"/>
        </svg>        
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">Inventario</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Información de precios de los producto para vender.</p>
    </a>

    <!-- Almacén -->
    <a routerLink="almacen" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4.07141 14v6h5.99999v-6H4.07141Zm4.5-4h6.99999l-3.5-6-3.49999 6Zm7.99999 10c1.933 0 3.5-1.567 3.5-3.5s-1.567-3.5-3.5-3.5-3.5 1.567-3.5 3.5 1.567 3.5 3.5 3.5Z"/>
        </svg>        
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">Almacén - Ingresa Productos</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Ingresa nuevos productos a la tienda</p>
    </a>

    <!-- Ventas -->
    <a routerLink="movimientos" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
        </svg>               
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">Ventas - Historial</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Listado e información de cada venta</p>
    </a>

    <!-- Almacén Detalle -->
    <a routerLink="almacen-historial" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 18V6l8 6-8 6Z"/>
        </svg> 
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">Almacén - Historial</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Ingresa nuevos productos a la tienda</p>
    </a>

    <!-- E-Commerce Productos-->
    <a routerLink="productos" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M6 14h2m3 0h5M3 7v10a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1Z"/>
        </svg>        
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">EC - Productos</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Administra el titulo, descripción, imagenes, url, porcentaje ganancia, precio (yuanes), estado, etc</p>
    </a>

    <!-- Ventas Web -->
    <a routerLink="pedidos" class="flex flex-col items-center p-6 bg-white rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
      <div class="p-3 mb-2 bg-gray-100 rounded-lg dark:bg-gray-700">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z"/>
        </svg>
      </div>
      <span class="text-base font-medium text-gray-700 dark:text-gray-300">EC - Pedidos</span>
      <p class="mt-2 text-sm text-gray-500 dark:text-gray-400 text-center">Pedidos: listado y actualización de estado</p>
    </a>
  </div>
  
  <!-- Botón Tipo de Cambio -->
  <div class="p-4" *ngIf="showTipoCambioButton">
    <button 
      type="button" 
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      (click)="updateTipocambio()">
      Cambiar Tipo de Cambio
    </button>
  </div>